extends ../../base/layout


block customHead 
    link(rel="stylesheet", href="../../css/main.css")
    title Tất cả sản phẩm

block content
    include ../../layout/topbar
    include ../../layout/navigation
    include ../../page-component/all/breadcrumb
    include ../../page-component/all/banner
    include ../../page-component/all/main