.section-intro {
  padding-top: var(--section-spacing);
  position: relative;
}
.section-special {
  padding-top: var(--section-spacing);
  position: relative;
}
.section-news {
  position: relative;
}
.section-gallery {
  margin-top: var(--section-spacing);
  position: relative;
}
.section-hot {
  margin-top: var(--section-spacing);
  position: relative;
}
.section-info {
  margin-top: var(--section-spacing);
  position: relative;
}
