extends ../../base/layout

block customHead 
    link(rel="stylesheet", href="css/main.css")
    title Trang chủ

block content
    include ../../layout/topbar
    include ../../layout/header
    include ../../layout/navigation
    include ../../page-component/home/introduction
    include ../../page-component/home/special-product
    include ../../page-component/home/news-product
    include ../../page-component/home/gallery
    include ../../page-component/home/hot-product
    include ../../page-component/home/home-info
    
