@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
html,
body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
p {
  font-size: 15px;
  line-height: 28px;
  color: var(--color-text);
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-heading);
}
