include ../abstract/mixins
nav.nav.container-fluid
    .container
        .row.gx-5.nav-container
            .col-lg-2.nav-title 
                h3 Wine House 
                h4 Since 1980
            +navigation()
            
