extends ../../base/layout


block customHead 
    link(rel="stylesheet", href="../../css/main.css")
    title Blog

block content
    include ../../layout/topbar
    include ../../layout/navigation
    include ../../page-component/history/breadcrumb
    include ../../page-component/history/main