mixin detailSlide(obj)
    .detail-slide 
        span.detail-slide-btn
            i.bi.bi-arrow-up
        each item in obj.listImg
            if item.active
                .detail-slide-img.detail-slide-img--active
                    img(src=item.img,alt='').img-fluid
            else 
                .detail-slide-img
                    img(src=item.img,alt='').img-fluid
        span.detail-slide-btn 
            i.bi.bi-arrow-down
        