include ../../abstract/mixins

- var wine = [{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}1.jpg`},{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}2.jpg`},{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}3.jpg`},{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}4.jpg`}]

+productDisplay({wine:wine,class:"section-hot",title:"Sản phẩm bán chạy"})
