include ../../abstract/mixins

- var wine = [{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}5.jpg`},{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}7.jpg`},{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}8.jpg`},{name:'Rượu vang đà lạt',price:3200.000,discount:490.000,img:`${assets}6.jpg`}]
+productDisplay({wine:wine,class:"section-news",title:"Sản phẩm mới"})
