
<footer class="footer container-fluid"> 
  <div class="container"> 
    <div class="row gx-5"> 
      <div class="col-lg-4 col-md-12 footer-brand"> <img class="img-fluid" src="../../assets/brand-3-rm.png"/></div>
      <div class="col-lg-4 col-md-12 footer-brand"> <img class="img-fluid" src="../../assets/brand-3-rm.png"/></div>
      <div class="col-lg-4 col-md-12 footer-brand"> <img class="img-fluid" src="../../assets/brand-3-rm.png"/></div>
    </div>
    <div class="row gx-5 footer-main">
      <div class="col-lg-2"> 
        <h3 class="footer-head">Thông tin</h3><a class="footer-link" href="#">về chúng tôi</a><a class="footer-link" href="#">giao hàng</a><a class="footer-link" href="#">cảm nghĩ</a><a class="footer-link" href="#">lưu trữ</a><a class="footer-link" href="#">chính sách riêng tư</a>
      </div>
      <div class="col-lg-2"> 
        <h3 class="footer-head">Mua hàng</h3><a class="footer-link" href="#">vận chuyển và trả hàng</a><a class="footer-link" href="#">mua hàng an toàn</a><a class="footer-link" href="#">vận quốc tế</a><a class="footer-link" href="#">liên kết</a><a class="footer-link" href="#">dịch vụ</a>
      </div>
      <div class="col-lg-4">
        <h3 class="footer-head">Gửi email</h3>
        <p class="footer-mail">Gửi email cho chúng tôi để được hỗ trợ</p>
        <form>
          <input class="footer-input" placeholder="Email..."/>
          <input class="btn footer-btn" type="submit" value="Gửi"/>
        </form>
        <div class="footer-social"><i class="bi bi-facebook"></i><i class="bi bi-youtube"></i><i class="bi bi-linkedin"></i><i class="bi bi-whatsapp"></i></div>
      </div>
      <div class="col-lg-4"> 
        <h3 class="footer-head">Liên hệ</h3>
        <p class="footer-address"> <i class="bi bi-geo-alt"> </i>123 đường ABC,Hà nội ,Việt Nam
        </p>
        <p class="footer-address"><i class="bi bi-telephone"> </i>84123456789
        </p>
        <p class="footer-address"><i class="bi bi-envelope"> </i>abc@example.com
        </p>
      </div>
    </div>
  </div>
</footer>