
<nav class="nav container-fluid">
  <div class="container">
    <div class="row gx-5 nav-container">
      <div class="col-lg-2 nav-title"> 
        <h3>Wine House </h3>
        <h4>Since 1980</h4>
      </div>
      <input class="nav-toggle" id="menuToggle" type="checkbox"/>
      <label class="nav-icon" for="menuToggle"><i class="bi bi-list"></i></label>
      <ul class="nav-menu col-lg-10">
        <li class="nav-menu-item"> <a href="#">Trang chủ</a></li>
        <li class="nav-menu-item"> 
          <label class="nav-dropdown-icon" for="wineToggle">Rượu vang đỏ</label>
          <input class="nav-dropdown-toggle" id="wineToggle" type="checkbox"/>
          <nav class="nav-dropdown nav-dropdown-container">
            <div class="nav-dropdown-content">
              <div class="nav-dropdown-box">
                <h3 class="nav-dropdown-head">Rượu ngoại</h3>
                <ul class="nav-dropdown-col">
                  <li class="nav-dropdown-link"> <a href="../pages/detail/detail.html">Rượu chivas</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Walker</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Quế</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Tequilla</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Treva</a></li>
                </ul>
              </div>
              <div class="nav-dropdown-box">
                <h3 class="nav-dropdown-head">Rượu ngoại</h3>
                <ul class="nav-dropdown-col">
                  <li class="nav-dropdown-link"> <a href="../pages/detail/detail.html">Rượu chivas</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Walker</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Quế</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Tequilla</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Treva</a></li>
                </ul>
              </div>
              <div class="nav-dropdown-box">
                <h3 class="nav-dropdown-head">Rượu ngoại</h3>
                <ul class="nav-dropdown-col">
                  <li class="nav-dropdown-link"> <a href="../pages/detail/detail.html">Rượu chivas</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Walker</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Quế</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Tequilla</a></li>
                  <li class="nav-dropdown-link"> <a href="!#">Rượu Treva</a></li>
                </ul>
              </div>
              <div class="nav-dropdown-box">
                <div class="nav-dropdown-img"> <img class="img-fluid" src="../../assets/gallery-2.jpg" alt=""/></div>
              </div>
            </div>
          </nav>
        </li>
        <li class="nav-menu-item"> <a href="#">Rượu trắng</a></li>
        <li class="nav-menu-item"> <a href="#">Champange</a></li>
        <li class="nav-menu-item"> <a href="#">Thông tin</a></li>
        <li class="nav-menu-item"> <a href="#">Blog</a></li>
        <li class="nav-menu-item"> <a href="#">Liên hệ</a></li>
      </ul>
    </div>
  </div>
</nav>