.pagination {
  @include flex($align: center, $justify: space-between);
  border: 2px solid var(--color-border-pagination);
  padding: 5px 10px;
  font-size: 18px;

  &-type {
    & > a {
      display: inline-block;
      color: var(--color-black);
      cursor: pointer;
      margin: 0px 5px;
      &:hover {
        color: var(--color-pagination-hover);
      }
    }

    &--active {
      color: var(--color-pagination-hover) !important;
    }
  }

  &-list {
    @include flex($align: center, $gap: 0 5px);
    list-style-type: none;

    &-item {
      cursor: pointer;

      &:hover {
        color: var(--color-pagination-hover);
      }

      &--active {
        color: var(--color-pagination-hover);
      }
    }
  }
}
