.special {
  &-bg {
    text-align: center;

    img {
      @include aspect-ratio(1140, 846);

      max-width: 100%;
    }
  }

  &-container {
    max-width: 100%;
    position: relative;

    height: auto;
    overflow: hidden;
  }

  &-sale {
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      width: 0;
      height: 0;
      /* border-left: 20px solid transparent; */
      border-right: 60px solid transparent;
      border-top: 60px solid var(--color-primary);
      position: absolute;
      left: 0;
      top: 0;
    }

    span:before {
      content: '';
      position: absolute;
      top: 150%;
      width: 1000px;
      height: 2px;
      transform: translateX(-50%);
      background-color: var(--color-primary);
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
      // transform-origin: center;
      transform: translateY(50%) rotate(-45deg);
      color: var(--color-white);
    }
  }

  &-product {
    @include py(96px);
    @include px(74px);
    background-color: var(--color-white);

    width: 945px;

    max-width: 100%;
    position: relative;

    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 999;

    &-img {
      @include flex($justify: center);
      height: 471px;
      width: 100%;
      img {
        height: 100%;

        width: 100%;
      }
    }

    &-detail {
      width: 100% !important;

      h2 {
        font-size: 25px;
        line-height: 31px;
        color: var(--color-product);
      }
      img {
        margin-top: 6px;
      }
    }
    &-price {
      font-style: italic;
      font-weight: 400;
      font-size: 34px;
      line-height: 31px;
      margin: 28px 0;
      color: var(--color-primary);
    }
  }

  &-btn {
    padding: var(--btn-product);
    margin-bottom: 44px;
  }

  &-time {
    @include flex($direction: column, $justify: center, $align: center);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    flex: 0 0 auto;

    padding: 10px 0;

    &-number {
      font-weight: 400;
      font-size: 34px;
      line-height: 31px;
    }

    &-unit {
      font-size: 17px;
    }
  }

  &-time-box {
    @include grid(
      $grid-template-columns: repeat(2, 1fr),
      $grid-template-rows: repeat(2, 1fr)
    );
    margin-top: 50px;
  }

  @include media-breakpoint-down('lg') {
    &-product {
      @include px(80px);
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      &-detail {
        margin-top: 25px;
      }
    }
  }
}
