.topbar {
  &-list {
    list-style: none;
  }

  &-container {
    @include py(10px);
    background-color: var(--bg-light);
    backdrop-filter: blur(5px);
    width: 100%;

    > .row {
      @include flex($justify: space-between, $align: center);
    }
  }

  &-item {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 20px;
    }

    a {
      color: var(--color-topbar);
      transition: all 0.2s;
      &:hover {
        color: var(--color-primary);
      }
    }
    &:not(:first-child)::before {
      display: inline-block;
      content: '';
      border-top: 2px solid var(--color-topbar);
      width: 1rem;
      margin-bottom: 3px;
      margin-right: 3px;
    }
    &--active {
      color: var(--color-primary) !important;
    }
  }

  &-search {
    text-align: right;
    input {
      font-size: 12px;
      background: transparent;
      outline: none;
      border: none;
      letter-spacing: 1px;

      color: var(--color-topbar);
      font-style: italic;
    }
    ::placeholder {
      color: var(--color-topbar);
      opacity: 1;
    }
    button {
      color: var(--color-topbar);
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
  @include media-breakpoint-down($name: 'lg') {
    &-search {
      text-align: center;
      padding-top: 10px;
    }
  }
  @include media-breakpoint-down($name: 'md') {
    &-item {
      &:not(:first-child)::before {
        display: none;
      }
    }
  }
}
