extends ../../base/layout


block customHead 
    link(rel="stylesheet", href="../../css/main.css")
    title Chi tiết sản phẩm

block content
    include ../../layout/topbar
    include ../../layout/navigation
    include ../../page-component/detail/breadcrumb
    include ../../page-component/detail/product
    include ../../page-component/detail/feature
    include ../../page-component/detail/sellProduct