.container-fluid 
    .container.error 
        h3.error-big Lỗi
        p.error-text-box
            span Đây không phải là
            span Trang mà bạn tìm kiếm 
        h2.error-404 404
        
        